/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* 
#E8492C   red orange
#35424A   dark gray
*/

body {
  font-family: "Roboto", sans-serif;
}

header .navigation {
  background: #35424a;
  color: white;
  border-bottom: 4px solid #e8492c;
  width: 100%;
}

header .navigation .home-logo {
  /* background: red; */
  font-size: 2.5rem;
  /* padding: 40px; */
  /* margin-left: 10%; */
  width: 40%;
  float: left;
  /* height: 80px; */
  padding: 2% 0;
  font-weight: 700;
  text-align: center;
  /* margin: 0 auto; */
}

header .navigation .links {
  /* background: blue; */
  font-size: 20px;
  width: 40%;
  /* padding: 40px; */
  /* margin-right: 10%; */
  float: right;
  /* height: 30px; */
  padding: 2.4% 0;
  padding-top: 2.8%;
  text-align: center;
}

header .navigation .links nav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  text-transform: uppercase;
}

header .navigation::after {
  content: "";
  clear: both;
  display: table;
}

/* header::after {
    content: "";
    clear: both;
    display: table;
} */

.banner {
  /* background: lime; */
  background-image: url("img/showcase.jpg");
  background-position: center;
  /* background-size: cover; */
}

.banner .container {
  /* background: green; */
  color: white;
  height: 500px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.banner .container h1 {
  font-size: 4.5rem;
  font-weight: bold;
  /* background: red; */
  height: 45%;
  padding-bottom: 4.5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* https://stackoverflow.com/questions/12415661/using-marginauto-to-vertically-align-a-div */
}

.banner .container p {
  /* background: blue; */
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
  font-weight: 500;
}

.newsletter {
  background: yellow;
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 20px; */
}

.newsletter h3 {
  background: red;
  color: white;
  width: 32%;
  /* float: left; */
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.newsletter form {
  background: green;
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  /* float: right; */
  /* align-items: flex-end; */
}

.newsletter form input {
  background: orange;
  padding: 10px;
  width: 50%;
  font-size: 14px;
}

.newsletter form button {
  background: #e8492c;
  color: white;
  padding: 15px 30px;
  margin-left: 5px;
  font-size: 14px;
}

.newsletter::after {
  content: "";
  clear: both;
  display: table;
}

/*
***********************************************************************
Media Queries
*/
@media only screen and (max-width: 770px) and (min-width: 481px) {
  header .navigation {
    /* background: pink; */
    color: white;
    border-bottom: 4px solid #e8492c;
  }

  header .navigation .home-logo {
    display: block;
    width: 100%;
    /* background: lightblue; */
    padding-top: 40px;
    text-align: center;
    height: 30px;
    font-weight: 700;
    font-size: 35px;
  }

  header .navigation .links {
    display: block;
    /* background: blue; */
    font-size: 20px;
    width: 100%;
    height: 150px;
  }

  header .navigation .links nav a {
    display: inline-block;
    /* background: red; */
    font-size: 20px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 35px;
    border: 3px solid black;
    border-radius: 30px;
  }
}

@media screen and (max-width: 480px) {
  header .navigation {
    /* background: pink; */
    color: white;
    border-bottom: 4px solid #e8492c;
    height: 290px;
  }

  header .navigation .home-logo {
    display: block;
    width: 100%;
    /* background: lightblue; */
    padding-top: 45px;
    text-align: center;
    height: 50px;
    font-weight: 700;
    font-size: 35px;
  }

  header .navigation .links {
    display: block;
    /* background: blue; */
    font-size: 20px;
    width: 100%;
    height: 150px;
  }

  header .navigation .links nav a {
    display: inline-block;
    /* background: red; */
    font-size: 20px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    line-height: 35px;
    border: 3px solid black;
    border-radius: 30px;
  }
}

@media only screen and (max-width: 770px) and (min-width: 481px) {
  .banner .container h1 {
    /* background: green; */
    font-size: 3.6rem;
    line-height: 1.2;
  }

  .banner .container p {
    /* background: green; */
    line-height: 1.2;
    align-items: center;
    font-weight: 550;
  }
}

@media screen and (max-width: 480px) {
  .banner .container h1 {
    /* background: red; */
    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 550;
  }

  .banner .container p {
    /* background: green; */
    line-height: 1.2;
    align-items: center;
    font-weight: 500;
    padding-top: 15px;
  }
}